@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Bree+Serif&family=Edu+TAS+Beginner&family=Josefin+Sans&family=Patrick+Hand&display=swap');
*{
    padding: 0;
    margin: 0;
}
.nav_container{
    background-color: rgb(239, 120, 203);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.webname{
    margin-right: 2rem;
}
#Q{
    color: #00ff1c;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    border: 1px solid #04ffa1;
    padding: 0px 4px;
    border-radius: 10px;
    margin-right: 3px;
}
.uotes{
    color: rgb(0, 52, 255);
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}
.navbar ul{
    display: flex;
    border-left: 2px solid blue;

}
.navbar ul li{
    list-style: none;
    padding: 0.3rem 1.5rem;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Patrick Hand', cursive;
}
.footer{
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    text-align: center;
    color: white;
    font-size: 16px;
}