extends template.pug
block style
    style 
        include ../cssFiles/template.css
        include ../cssFiles/style.css
block content 
    <div class="cantainer">
        <div class="banner">
            <h1>Funny Quotes</h1>
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p> kehte hainтАж.life mein khona asaan haiтАжaur paana mushkil,ЁЯШТ
                    magar vazan ka is line se koi matalab nahinред</p>
            </div>
            <div class="quotes">
                <p>hey bhagavaan mujhe beshak single rakhana lekin setting uski bhi mat hone dena ЁЯШШтАжjis se meri shadi hogiЁЯШЙ..</p>
            </div>
            <div class="quotes">
                <p>sab kehate hain raat gayi baat gayi lekin ye baat jaati kahaan haiЁЯШБ.</p>
            </div>
            <div class="quotes">
                <p> kuchh logon ko mohabbat ka aisa nasha chadata hai тАжki shaayari vo likhate hain dard poora facebook sehan karta hai.ЁЯШВ</p>
            </div>
            
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>Jodiyaan aasamaan mein banatee hain aur mera pyaar aasamaan mein hee rah gaya.ЁЯШв</p>
            </div>
            <div class="quotes">
                <p>Har saal tyohar ki chuttiya hoti hain,
                    pehli baar chutiyon mein tyohar aaya hai.ЁЯШЫ</p>
            </div>
            <div class="quotes">
                <p>life mein thoda adventure layein 
                    apanee lav storee gharavaalon ko bataein.ЁЯдг</p>
            </div>
            <div class="quotes">
                <p>kya hua agar mujhe skooti, car aur cycle chalanee nahin aati hai to .. jubaan to kafi tez chalti hai meri.ЁЯШЙ</p>
            </div>
            
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>apki smile ne sara jahaan hila diya,
                    aapaki smile ne sara jahaan hila diya..
                    koma se jaage mareez ko permanent sula diya.ЁЯШЬ</p>
            </div>
            <div class="quotes">
                <p>Har insaan ka dil bura nahin hota.kuchh kee khopadi bhee hilee    huee hotee hai.ЁЯШГ</p>
            </div>
            <div class="quotes">
                <p>maine usaka phone number le liya ye mera tailent tha.lekin vo  number lag nahin raha vo usaka tailent hai.ЁЯЩД</p>
            </div>
            <div class="quotes">
                <p>рдРрд╕реА рд╡рд╛рдгреА рдмреЛрд▓рд┐рдП
                |    рдЬрдо рдХрд░ рдЭрдЧрдбрд╝рд╛ рд╣реЛрдП
                |   рд▓реЗрдХрд┐рди рдЙрд╕рд╕реЗ рди рдмреЛрд▓рд┐рдП
                |    рдЬреЛ рдЖрдкрд╕реЗ рддрдЧрдбрд╝рд╛ рд╣реЛрдПредЁЯШЭ.
                </p>
            </div>   
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>рд░рд╛рдордЪрдВрджреНрд░ рдХрд╣ рдЧрдП рд╕рд┐рдпрд╛ рд╕реЗ рдРрд╕рд╛ рдХрд▓рдпреБрдЧ рдЖрдпреЗрдЧрд╛ 
                |  рд╕рдЪреНрдЪрд╛ рдЖрд╢рд┐рдХ рддрдбрд╝рдкреЗрдЧрд╛ рдФрд░ рдореЗрд▓рд╛ рдмрд╛рдмреВ рдерд╛рдирд╛ рдерд╛рдПрдЧрд╛ЁЯШЭ</p>
            </div>
            <div class="quotes">
                <p>рдЧреБрд╕реНрд╕реЗ рдореЗрдВ рдЙрд╕реА рдХрд╛ рдирдВрдмрд░
                |   рдбрд┐рд▓реАрдЯ рдХрд░рдирд╛ рдЪрд╛рд╣рд┐рдП
                |    рдЬрд┐рд╕рдХрд╛ рдирдВрдмрд░ рдпрд╛рдж рд╣реЛ рд╡рд░рдирд╛ рдмрд╛рдж рдореЗрдВ
                |   рдмрд╣реБрдд рддрдХрд▓реАрдл рд╣реЛрддреА рд╣реИ</p>
            </div>
            <div class="quotes">
                <p>рджреЛрд╕реНрдд рд╣рдореЗрд╢рд╛ рдХрд╛рд▓реЗ рдмрдирд╛рдУ 
                |    рдХреНрдпреЛрдВрдХрд┐ рд╡реЛ рд░рдВрдЧ рдирд╣реА рдмрджрд▓рддреЗЁЯШВ</p>
            </div>
            <div class="quotes">
                <p>рдмрд╣рд╕ рдХрд░рдиреЗ рд╕реЗ
                |    рд░рд┐рд╢реНрддреЗ рдХрдордЬреЛрд░ рд╣реЛрддреЗ рд╣реИрдВ
                |   рдЗрд╕рд▓рд┐рдП рддреБрд░рдВрдд рдЭрд╛рдкрдбрд╝ рдорд╛рд░ рдХрд░
                |    рд░рд┐рд╢реНрддреЗ рдордЬрдмреВрдд рдХрд░реЗрдВ ЁЯШЭ</p>
            </div>
            
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>рд╕рдЪреНрдЪрд╛ рджреЛрд╕реНрдд 2 рд╣реА
                |    рдмрд╛рддреЗ рдмрддрд╛рддрд╛ рд╣реИ
                |    рдЕрдВрдбрд╛ nonveg рдирд╣реА рд╣реЛрддрд╛ рдФрд░
                |   рдмреАрдпрд░ рджрд╛рд░реВ рдирд╣реА рд╣реЛрддреА.!ЁЯШЙ</p>
            </div>
            <div class="quotes">
                <p>рдЬрд┐рддрдирд╛ рдЕрдВрдЧреВрдард╛ рдлреЛрди
                |   рдкрд░ рдЪрд▓рддрд╛ рд╣реИ, рдЕрдЧрд░
                |    рдЗрддрдирд╛ рдорд╛рд▓рд╛ рдкрд░ рдЪрд▓ рдЬрд╛рддрд╛ рддреЛ
                |   рднрдЧрд╡рд╛рди рдорд┐рд▓ рдЬрд╛рддреЗредЁЯЩИ</p>
            </div>
            <div class="quotes">
                <p>рд░рд╛рдд рдХреЛ рдЪреЛрд░ рдЖрдпреЗ, рд╕рд┐рд░ рдкрд░ рдмрдВрджреВрдХ рд▓рдЧрд╛рдИ
                |    рдФрд░ рдмреЛрд▓реЗ рдорд╛рд▓ рдХрд┐рдзрд░ рд╣реИ
                |    рдореИрдВрдиреЗ рдХрд╣рд╛: рдкрдбрд╝реЛрд╕ рдореЗрдВ ЁЯШЭ
                |   рд╕рд╛рд▓реЛрдВ рдиреЗ рд╣рдВрд╕рддреЗ рд╣рдВрд╕рддреЗ рдкреАрдЯрд╛ ЁЯШЮ</p>
            </div>
            <div class="quotes">
                <p>рдХрд┐рд╕реА рдХреЛ рддрдХрд▓реАрдл рдореЗрдВ рджреЗрдЦрдХрд░
                |     рдЙрд╕рдкрд░ рдЬрд╝рд░реВрд░ рд╣рдВрд╕реЗ
                |    рддрд╛рдХрд┐ рд╡реЛ рдЕрдкрдиреА рддрдХрд▓реАрдлрд╝ рднреВрд▓рдХрд░
                |   рдЖрдкрдХреЛ рдЧрд╛рд▓рд┐рдпрд╛рдВ рджреЗрдиреЗ рдореЗрдВ Busy рд╣реЛ рдЬрд╛рдПЁЯдг</p>
            </div>
            
        </div>
    </div>