extends template.pug
block style
    style
        include ../cssFiles/index.css
        include ../cssFiles/template.css

block content

    <div class="cantainer"></div>
    <div class="contact">
    <h1>contact</h1>
    <div class="contact_info">
        <div class="contact_items">
            <div class="logo">
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqVaUr38klYREE2JrXbxbJtdZdo-F8-vzpXQ&usqp=CAU", alt="")
            </div>
            <div class="contact_disc">
                <div class="info">Satyendra kumar </div>
            </div>
        </div>
        <div class="contact_items">
            <div class="logo">
                <img src="https://i.pinimg.com/736x/96/cc/7d/96cc7d89411132dd394078c9ef920b69.jpg" alt="Instagram">
            </div>
            <div class="contact_disc">
                <div class="info">satyendra0.3</div>

            </div>
        </div>
        <div class="contact_items">
            <div class="logo">
                <img src="https://cdn.pixabay.com/photo/2021/09/11/12/17/github-6615451__340.png" alt="Github">
            </div>
            <div class="contact_disc">
                <div class="info">Comming Soon</div>
            </div>
        </div>
    </div>
    </div>