extends template.pug
block style
    style 
        include ../cssFiles/template.css
        include ../cssFiles/style.css
block content 
    <div class="cantainer">
        <div class="banner">
            <h1>Motivation Quotes</h1>
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            
        </div>
        <div class="qoutes_cantainer">
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="quotes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            
        </div>
    </div>