<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title My Site Quotes
    block style
</head>
<body>
    <div class="nav_container">
        <div class="navbar">
            <div class="webname">
                <a href="/" style="text-decoration: none;">
                    <span id="Q">Q</span><span class="uotes">uotes</span>
                </a>
            </div>
            <div class="navitems">
                <ul>
                    <li><a href="/funny">Funny</a></li>
                    <li><a href="/sad">Sad</a></li>
                    <li><a href="/love">Love</a></li>
                    <li><a href="/motivation">Motivation</a></li>
                    <li><a href="/MSD">MSD Special</a></li>
                </ul>
            </div>
        </div>
    </div>

    block content

    <div class="footer">
        <div class="copyright">
            <p>© 2022 Condé Nast. All rights reserved. </p>
        </div>
    </div>
    
</body>
</html>










<!-- 
html
  head
    title My Site Quotes
  body
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/">contact</a></li>
                <li><a href="/">about</a></li>
                <li><a href="/">home</a></li>
                <li><a href="/">home</a></li>
                <li><a href="/">home</a></li>

            </ul>
        </nav>
    </div>
    block content
    block foot
      #footer
        p some footer content -->